.product_main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product_item {
    margin: 2px;
    background-color: beige;
    width: 175px;
    height: 200px;
}

.product_item:hover {
    margin:1px;
    border-style: solid;
    border-width: 1px;
}

.product_name h3 {
    font-size: 12px;
    text-align: center;
}