
.product_main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(243, 241, 241);
}

.product_item {
    background-color: white;
    margin: 2px;
    min-width: 150px;
    width: 19%;
    height: 275px;
}

.product_item:hover {
    margin:1px;
    border-style: solid;
    border-width: 1px;
}

.product_name span {
    font-size: 12px;
    text-align: center;
    color: black;
}